# Игнорировать каталог виртуального окружения
venv/

# Игнорировать файлы PyCharm
.idea/

# Игнорировать файлы, создаваемые macOS
.DS_Store

# Игнорировать файлы Python байт-кода
__pycache__/
*.pyc

# Игнорировать файлы журналов
*.log

# Игнорировать локальные конфигурационные файлы
*.ini
*.cfg

# Игнорировать каталоги с зависимостями
node_modules/